ArithmeticQuiz/ArithmeticQuiz/bin/*
ArithmeticQuiz/ArithmeticQuiz/bin/**/
ArithmeticQuiz/ArithmeticQuiz/obj/*
ArithmeticQuiz/ArithmeticQuiz/obj/**/
ArithmeticQuiz/ArithmeticQuizTests/bin/*
ArithmeticQuiz/ArithmeticQuizTests/bin/**/
ArithmeticQuiz/ArithmeticQuizTests/obj/*
ArithmeticQuiz/ArithmeticQuizTests/obj/**/
